<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Renier Anthony V. Namol">
    <meta name="date-completed" content="August 19. 2026">
    <meta charset="UTF-8">

    <script src="../../scripts/3_todo-list/script.js" defer></script>

    <link rel="stylesheet" href="../../styles/3_todo-list/style.css">
    <title> Exercise 3 (To-Do List) </title>
</head>

<body>
    <header>
        <h2> To-Do List Exercise </h2>

        <nav>
            <li><a href="../1_counter/index.html"> Exercise 1 </a></li>
            <li><a href="../2_event-listener/index.html"> Exercise 2 </a></li>
            <li><a class="active"> Exercise 3 </a></li>
            <li><a href="../4_modal-popup/index.html"> Exercise 4 </a></li>
            <li><a href="../5_form-validation/index.html"> Exercise 5 </a></li>
            <span></span>
        </nav>
    </header>

    <main>
        <div id="inputs">
            <input id="task" type="text" placeholder="Enter New Task">
            <button id="add"> Add Task </button>
            <button id="clear"> Clear Tasks </button>
        </div>

        <div id="displays">
            <div id="messages">
                <span class="message"> <!-- Message Display --> </span>
            </div>

            <ul id="task-list">
                <!-- Task Display -->
            </ul>
        </div>
    </main>

    <footer>
        <h2> Renier Anthony V. Namol &copy; 2026 </h2>
    </footer>
</body>

</html>