<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Renier Anthony V. Namol">
    <meta name="date-completed" content="###">
    <meta charset="UTF-8">

    <script src="../../scripts/1_counter/script.js" defer></script>

    <link rel="stylesheet" href="../../styles/style.css">
    <title> Exercise 1 (Counter) </title>
</head>

<body>
    <header>
        <h2> Counter Exercise </h2>
    </header>

    <nav>
        <li><a href="../../index.html"> Go Back </a></li>
    </nav>

    <div>
        <span id="count"> 0 </span>
        <div id="message"> Message </div>
    </div>

    <div>
        <button onclick="increaseCount()"> + </button>
        <button onclick="decreaseCount()"> - </button>
        <button onclick="resetCount()"> Reset </button>
        <button onclick="saveCount()"> Save </button>
        <button onclick="loadCount()"> Load </button>
    </div>
</body>

</html>