<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Renier Anthony V. Namol">
    <meta name="date-completed" content="###">
    <meta charset="UTF-8">

    <script src="../../scripts/1_counter/script.js" defer></script>

    <link rel="stylesheet" href="../../styles/1_counter/style.css">
    <title> Exercise 1 (Counter) </title>
</head>

<body>
    <header>
        <h2> Counter Exercise </h2>

        <nav>
            <li><a class="active"> Exercise 1 </a></li>
            <li><a> Exercise 2 </a></li>
            <li><a> Exercise 3 </a></li>
            <li><a> Exercise 4 </a></li>
            <li><a> Exercise 5 </a></li>
        </nav>
    </header>

    <main>
        <div id="displays">
            <h2 id="count"> <!-- insert count here --> </h2>
            <template id="message"> <!-- insert message here --> </template>
        </div>

        <div id="buttons">
            <button onclick="increaseCount()">
                <h2> + </h2>
                <span class="tooltip"> Adds 1 to the count. </span>
            </button>

            <button onclick="decreaseCount()">
                <h2> - </h2>
                <span class="tooltip"> Subtracts 1 to the count. </span>
            </button>

            <button onclick="resetCount()">
                <h2> Reset </h2>
                <span class="tooltip"> Resets the count to 0. </span>
            </button>

            <button id="save" onclick="saveCount()">
                <h2> Save </h2>
                <span class="tooltip"> Saves the count to be loaded later. </span>
            </button>
            
            <button id="load" onclick="loadCount()">
                <h2> Load </h2>
                <span class="tooltip"> Loads the saved count. </span>
            </button>
            
            <button id="clear" onclick="clearCount()">
                <h2> Clear </h2>
                <span class="tooltip"> Clears the loaded count. </span>
            </button>
        </div>
    </main>

    <footer>
        <h2> Renier Anthony V. Namol &copy; 2026 </h2>
    </footer>
</body>

</html>